<%- include('../layout', { body: ` 
<div class="vehicles-list">
    <h1>Vehicles</h1>
    
    <div class="page-actions">
        <a href="/vehicles/new" class="btn btn-primary">Add Vehicle</a>
        <a href="/vehicles/availability" class="btn btn-secondary">Check Availability</a>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>Registration</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Category</th>
                <th>Current Mileage</th>
                <th>Daily Rate</th>
                <th>MOT Due</th>
            </tr>
        </thead>
        <tbody>
            ${vehicles.map(vehicle => `
                <tr>
                    <td>${vehicle.reg_number}</td>
                    <td>${vehicle.manufacturer_name}</td>
                    <td>${vehicle.model_name}</td>
                    <td>${vehicle.vehicle_category_description}</td>
                    <td>${vehicle.current_mileage.toLocaleString()}</td>
                    <td>£${vehicle.daily_hire_rate}</td>
                    <td>${new Date(vehicle.date_mot_due).toLocaleDateString('en-GB')}</td>
                </tr>
            `).join('')}
        </tbody>
    </table>
</div>
` }) %>